.form-container {
  display: flex;
  flex-direction: column;

  .form-field-container {
    margin: 1em;
  }

  .form-field {
    border: none;
    outline: none;
    border-bottom: 2px solid lightblue;
    // -webkit-appearance: none;
    // appearance: none;
    // visibility: hidden;
    // animation: 1s fadeIn;
    // animation-fill-mode: forwards;

    &:hover,
    &:focus {
      border-bottom: 3px solid lightseagreen;
    }

    &.valid {
      background-color: lightgreen;
    }

    &.invalid {
      border-color: red;
    }
  }
}

@keyframes fadeIn {
  95% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
