<form *ngIf="formFields as formValue" class="form-container" (change)="formChangeEmit()">
  <ng-container *ngFor="let fieldName of (formFieldsKeys | async)">
    <ng-container [ngSwitch]="formValue[fieldName].type">
      <div *ngSwitchCase="FormFieldType.select">
        <mat-form-field>
          <mat-label>{{formValue[fieldName].label || ''}}</mat-label>
          <mat-select [(value)]="formValue[fieldName].value">
            <mat-option *ngFor="let item of formValue[fieldName].options || []" [value]="item.value">{{item.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngSwitchDefault>
        <mat-form-field>
          <mat-label>{{formValue[fieldName].label || 'Some label'}}</mat-label>
          <input matInput placeholder="Введите значение" [type]="formValue[fieldName].type"
            [(ngModel)]="formValue[fieldName].value" [name]="fieldName"
            (ngModelChange)="fieldChanged(fieldName, $event)"
            [ngClass]="{valid:formValue[fieldName].isValid, invalid: !formValue[fieldName].isValid}">
        </mat-form-field>
        {{formValue[fieldName].isValid}}
      </div>
    </ng-container>
  </ng-container>
  {{formValue | json}}
</form>
