<form *ngIf="formFields as formValue" class="form-container" (change)="formChangeEmit()">
  <ng-container *ngFor="let fieldName of (formFieldsKeys | async)">
    <ng-container [ngSwitch]="formValue[fieldName].type">
      <div *ngSwitchCase="FormFieldType.select">
        <label>
          {{formValue[fieldName].label || ''}}
          <select class="form-field" [name]="fieldName" [(ngModel)]="formValue[fieldName].value">
            <option *ngFor=" let item of formValue[fieldName].options || []" [ngValue]="item.value">
              {{item.label}}
            </option>
          </select>
        </label>
      </div>
      <div *ngSwitchDefault>
        <input class="form-field" placeholder="Введите значение" [type]="formValue[fieldName].type"
          [(ngModel)]="formValue[fieldName].value" [name]="fieldName" (ngModelChange)="fieldChanged(fieldName, $event)"
          [ngClass]="{valid:formValue[fieldName].isValid, invalid: !formValue[fieldName].isValid}">
        {{formValue[fieldName].isValid}}
      </div>
    </ng-container>
  </ng-container>
  {{formValue | json}}
</form>
